/* @override http://0.0.0.0:4000/css/style.css */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
}

h1 {
	font: 900 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #3694b2;
}
h2 {
	font:900  30px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	left: 1px;
}
h3 {
	font: 500 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
h4 {
	font: 500 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
p {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
ul {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a:hover {
	color: #91d5d3;
}
.button {
	display: inline-block;
	position: relative;
	/*height: 48px;*/
	width: ;
	margin:0;
	padding: 12px 36px;
	border: 2px solid #fff;
	border-radius: 3px;	
	font: 400 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
}
.button:hover {
	color: #fff;
}

.button.dark {
	/*background: #91d5d3;*/
	border: 2px solid #91d5d3;
	color: #91d5d3;
}
.button.dark:hover {
	background: #91d5d3;
	color: #fff;
}


.button.dark.full {
	background: #91d5d3;
	border: 2px solid #91d5d3;
	color: #fff;
}
.button.dark.full:hover {
	background: #a1dad9;
	border-color: #a1dad9;
}


	


/* @group HEADER */
body header {
	/*position: absolute;*/
	/*z-index: 1000000000;*/
	width: 100%;
	height: 72px;
	/*padding: 12px;*/
	text-align: center;
	background: #91d5d3;
	overflow: hidden;
}
body header > div {
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
}
body header > div > a {
	position: absolute;
	left: 0px;
	top: 0px;
}
body header > div > a > img {
	max-width: 300px;
	margin: 18px 0 0 12px;
}
body header > div > .menu-button {
	display: none;
	width: 48px;
	height: 48px;
	padding: 0 0 0 12px;
	border-left: 1px solid #ccc;
	font: 900 24px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ccc;
	/*background: #f16;*/
}
body header > div > .menu-button:hover {
	color: #b23636;
	cursor: pointer;
}
body header > div > nav {
	text-align: right;
	/*padding: 12px 0;*/
}
body header > div > nav > p  {
	display: none;
}
body header > div > nav > a {
	position: relative;
	display: inline-block;
	height: 72px;
	margin: 0 12px 0 0;
	font: 200 18px/72px Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
}
body header > div > nav > a:hover {
	color: rgba(255,255,255,.5);
}
body header > div > nav > a.selected {
	
}
body header > div > nav > a.selected:after  {
	content: '\00a0';
	position: absolute;
	bottom: -6px;
	left: 50%;
	width: 12px;
	height: 12px;
	margin: 0 0 0 -6px;
	background: #fff;
	transform: rotate(45deg);
}

body header > div > nav > a > .fa-shopping-cart {
	font-size: 22px;
}

/* @end */




/* @group BANNER */
.banner {
	position: relative;
	height: 90%;
	min-height: 320px;
	background-color: #91d5d3;
	background-position: right top;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	white-space: nowrap;
}
.banner.jagged {
	background-image: url('/images/patterns/jagged.png');
	background-attachment: scroll;
	background-repeat: repeat no-repeat;
	background-size: auto;
	background-position: bottom center;
}
.banner:before {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}


/* @group HGROUP */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 -.25em;
	vertical-align: middle;
	text-align: center;
	white-space: normal;
}
.banner > hgroup > h1 {
	font: 100 36/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 4px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
}
.banner > hgroup > h1 > span {
	margin: 0 0 -.25em 0;
	padding: 0;
	display: block;
	font: 500 90px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.banner > hgroup > img {
	width: 60%;
}
.banner > hgroup > .button {
	margin: 48px 0 0 0;
}
/* @end */



/* @end */

/* @group KNOWLEDGE */
.knowledge {
	
}
.knowledge > div {
	float: left;
	width: 16.666666%;
	text-align: center;
}
.knowledge > div > img {
	display: block;
	width: 75%;
	margin: 0 auto;
}
.knowledge > div > h5 {
	font: 500 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
/* @end */

/* @group CONTENT */
.content {
	position: relative;
	height: 100%;
	/*overflow: scroll;*/
}






/* @group Page Title */
.pagetitle {
max-width: 1080px;
	margin: 48px auto 0 auto;
}
.pagetitle > h1 {
	font: 900 36px/60px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	color: #91d5d3;
	color: #444;
	text-transform: capitalize;
	letter-spacing: 2px;
}
/* @end */






/* @group Article */
article {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0px 60px 0;
}


article > hgroup {
	margin: 72px 0 48px 0;
	text-align: center;
}
article > h1 {
	
}
article > h2 {
	margin: 36px 0;
}
article > p+h3  {
	margin: 72px 0 0 0;
}


article > blockquote > p {
	margin: 72px;
	text-align: center;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #91d5d3;
}
article > blockquote > p:before,
article > blockquote > p:after {
	content: '"';
}

article p {
	margin: 36px 0;
	font-size: 20px;
	overflow: hidden;
}
article > h3+p {
	margin: 0 0 36px 0;
}
/*article > p:first-of-type:first-letter { 
	float: left; 
	color: #91d5d3; 
	font-size: 72px; 
	line-height: 84px; 
	vertical-align: top;
	padding-top: 0px; 
	padding-right: 12px; 
	padding-left: 0px; 
	font-family: Georgia; 
}*/
article > hr {
	height: 48px;
	border: none;
	border-top: 1px dotted #ccc;
}


article > ul {
	padding: 0 0 0 24px;
}
article > ul > li{
	margin: 36px 0;
	/*padding: 50px;*/
	font-size: 20px;
}
/* @end */





/*/* @group SECTION *!/
.content > section {
	max-width: 1080px;
	margin: 0 auto;	
	padding: 48px 0;
}
.content > div > section:after {
	content: '\00a0';
	display: block;
	clear: both;
	height: 0;
}
.content > div > section > section {
	float: left;
	width: 50%;
	min-width: 320px;
}
.content > div > section > section + section {
	padding-left: 24px;
}
.content > div > section > section > img {
	max-width: 100%;
}
.content > div > section ul > li {
	margin: 0 0 12px 0;
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}

.content > div > section > p {
	margin: 0 0 24px;
}

.content > div > section > p:first-of-type:first-letter { 
	float: left; 
	color: #b23636; 
	font-size: 75px; 
	line-height: 60px; 
	vertical-align: bottom;
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia; 
}

/* @end *!/*/

/* @end */






/* @group Features */
.features {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
}
.features > div {
	padding: 5%;
	text-align: center;
}
.features > div > img {
	width: 100%;
	max-width: 150px;
}
.features > div > hgroup {
	text-align: center;
}
.features > div > hgroup > h2 {
	font: 700 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.features > div > hgroup > p {
	
}
/* @end */













/* @group Main Gallery */
.main-gallery {
	height: 72%;
}

.main-gallery .gallery-cell {
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center!important;
	background-size: contain!important;
	background-repeat: no-repeat!important;
	background: #fff;
	white-space: nowrap;
}
.main-gallery .gallery-cell.first-cell {
	/*width: 100%;*/
}
.main-gallery .gallery-cell:before {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	margin: 0 -.25em 0 0;
	/*background: #f16;*/
	vertical-align: middle;
}
.main-gallery .gallery-cell > img {
	width: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.main-gallery .gallery-cell > hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 960px;
}
.main-gallery .gallery-cell > hgroup > h1 {
	display: inline-block;
	/*margin: 0 0 24px 0;*/
	padding: 9px 24px;
	background: #91d5d3;
	color: #fff;
	text-shadow: 0 0px 5px rgba(0,0,0,.25);
	text-transform: capitalize;
}
/* position dots in gallery */
.main-gallery .flickity-page-dots {
  bottom: 24px;
}
/* white circles */
.main-gallery .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.main-gallery .flickity-page-dots .dot.is-selected {
  background: white;
}
/* @end */




/* @group Products Old */
.products-old {
	text-align: center;
}
.products-old > a {
	display: inline-block;
	margin: 0 0 48px 0 ;
	border: 3px solid #fff;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
}
.products-old > a+a {
	margin-left:48px ;
}
.products-old > a > .image {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 3px solid #fff;
	border-radius: 200px;
	background: #f2f2f2;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.products-old > a > h2 {
	font: 500 20px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.products-old > a > h3 {
	font: 200 20px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.products-old > a > h3:before {
	content: '$';
}
.products-old > a:hover {
	/*background: #91d5d3;*/
}
.products-old > a:hover > .image {
	border-color: #91d5d3;
}
.products-old > a:hover > h2 {
	color: #91d5d3;
}
.products-old > a.coming-soon {
	position: relative;
	top: 2px;
	width: 200px;
	height: 200px;
	background: none;
	border: 3px dashed #ccc;
	border-radius: 200px;
	font: 400 18px/200px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ccc;
	vertical-align: top;
	text-align: center;
}
/* @end */





/* @group Product Options */
.product-options {
	max-width: 960px;
	margin: 0 auto 96px auto;
	text-align: center;
}
.product-options > section {
	position: relative;
	padding: 48px 0;
	overflow: hidden;
}
.product-options > section.padding {
	padding-left: 150px;
}
.product-options > section > img {
	float: left;
	width: 25%;
	max-width: 150px;
	margin: 0 0 0 -150px;
}
.product-options > section > hgroup {
	max-width: 480px;
	overflow: hidden;
	margin: 0 0 12px 0;
	text-align: left;
}
.product-options > section > hgroup > h2 {
	
}
.product-options > section > hgroup > img {
	float: left;
	width: 150px;
	margin: 0 24px 0 0;
}
.product-options > section > hgroup > p {
	
}


.product-options > section > div {
	text-align: left;
}
.product-options > section input[type=text] {
	max-width: 96px;
	padding: 0 12px;
	border: 2px solid #444;
	border-radius: 3px;
	font: 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}




.product-options > section > form {
	text-align: left;
}

.product-options > section > form > img {
	width: 250px;
}
.product-options > section > form > label {
	position: relative;
	display: inline-block;
	width: 18%;
	min-width: 100px;
	margin: 0 12px 18px 0;
	padding: 12px;
	border: 2px solid #444;
	border-radius: 3px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}
.product-options > section > form > label:hover {
	border-color: #91d5d3;
	box-shadow: 0 0 0 1px #91d5d3 inset;
}

.product-options > section > form > label.selected {
	border: 2px solid #91d5d3;
	box-shadow: 0px -48px 0px -12px #91d5d3 inset;
}
.product-options > section > form > label.selected > h3 {
	color: #91d5d3;
}
.product-options > section > form > label.selected > p {
	color: #91d5d3;
}
.product-options > section > form > label > h3 {
	font: 900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
.product-options > section > form > label > p {
	margin: 0 0 18px 0;
	font: 500 20px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
/*.product-options > section > form > label > p:after {
	content: 'Inches';
	display: block;
	text-align: center;
	font: 200 10px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}*/
.product-options > section > form > label > img {
	width: 100%;
}
.product-options > section > form > label > input {
	
}





.product-options > section.photos > form > label {
	position: relative;
	padding: 0;
	/*border: none;*/
	/*overflow: hidden;*/
	border-color: #fff;
	border-radius: 4px;
}
.product-options > section.photos > form > label.selected {
	border: 2px solid #91d5d3;
}
.product-options > section.photos > form > label.selected:after{
	content: '\00a0';
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 42px;
	background: #91d5d3;
}
.product-options > section.photos > form > label > a {
	position: absolute;
	right: 0;
	top: 0;
	padding: 9px;
	/*background: #444;*/
	color: #fff;
	text-shadow: 0 1px 5px rgba(0,0,0,1);
	border-radius: 0 0 0 3px;
}
.product-options > section.photos > form > label > a:hover {
	background: #91d5d3;
}
.product-options > section.photos > form > label > img {
	width: 100%;
	/*margin: 0 0 24px 0;*/
}
.product-options > section.photos > form > label > input {
	position: absolute;
	z-index: 100;
	left: 50%;
	bottom: 12px;
}



/* @group Empire + Natural */
.product-options > section > form.natural > label.empire {
	display: none;
}
.product-options > section > form.empire > label.natural {
	display: none!important;
}
/* @end */

/* @group Fitted or Regular */
.product-options > section > form.fitted > label.regular {
	display: none;
}
.product-options > section > form.regular > label.fitted {
	display: none!important;
}
/* @end */
/* @end */






/* @group Products */
.products {
	max-width: 1080px;
	margin: 0 auto;
	padding: 48px 0;
	list-style: none;
	overflow: hidden;
}
.products > li {
	float: left;
	width: 33.33333%;
	border: 2px solid #ccc;
	border-radius: 2px;
}
.products > li > a {
	width: 100%;
	text-decoration: none;
}
.products > li > a > img {
	width: 100%;
	border-bottom: 2px solid #ccc;
}
.products > li > a > hgroup {
	padding: 12px;
}
.products > li > a > hgroup > h2 {	
	font: 900 24px/24px Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
.products > li > a > hgroup > h3 {
	font: 100 20px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.products > li > a > hgroup > h3:before {
	content: '$';
}
/* @end */






/* @group Product */
.product {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 0 96px 0;
	overflow: hidden;
}
.product > section {
	float: left;
	width: 50%;
}
.product > section > p {
	font:200 20px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.product > section > p:first-of-type:first-letter { 
	float: left; 
	color: #91d5d3; 
	font-size: 60px; 
	line-height: 60px; 
	vertical-align: top;
	padding-top: 0px; 
	padding-right: 6px; 
	padding-left: 0px; 
	font-family: Georgia; 
}
.product > section img {
	width: 100%;
}

/* @group Options */
.options {
	text-align: center;
	padding: 0 96px;
}
.options > label {
	display: block;
	margin: 0 0 24px;
	text-align: left;
}
.options > label > strong {
	display: block;
	font: 100 14px Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
.options > label > select {
	height: 24px;
	width: 100%;
	/*padding: 6px 24px;*/
	/*border: 2px solid #ccc;*/
	background: #fff;
	/*-webkit-appearance: none;*/
	text-align: left;
}
/* @end */

/* @group Price */
.price {
	margin: 24px 0 0 0;
	font: 100 60px/96px Georgia, "Times New Roman", Times, serif;
}
.price:before {
	content: '$';
}
/* @end */

/* @end */






/* @group Results */
.results {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto 240px auto;
	/*padding: 48px 0 96px 0px;*/
	border: 3px solid #444;
	text-align: center;
	white-space: nowrap;
}
.results > section {
	display: inline-block;	
	width: 70%;
	padding: 24px;
	vertical-align: middle;
}
.results > section.fabricses {
	width: 30%;
	margin: 0 -.25e	m 0 0;
	border: none;
	background-size: cover;
	background-position: top right;
}



/* @group Diagram */
.results .diagram {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.results .diagram > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.results .diagram > img:first-of-type{
	position: relative;
	z-index: 200;
}
.results .diagram > img+img {
	z-index: 300;
}
.results .diagram > img+img+img {
	z-index: 400;
}
.results .diagram > img+img+img+img {
	z-index: 500;
}

/* @end */

.results hgroup {
	position: relative;
	z-index: 1000;
	display: block;
	text-align: left;
	vertical-align: middle;
	color: #444;
}
.results hgroup > h2 {
	color: inherit;
	font: 900 36px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	/*text-shadow: 0 1px 5px rgba(0,0,0,.5);*/
}
.results hgroup > h3 {
	color: inherit;
	font: 100 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	/*text-shadow: 0 1px 5px rgba(0,0,0,.5);*/
}
.results hgroup > h3:before {
	content: '$';
}

.results > section ul {
	float: left;
	width: 50%;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 24px 0;
}
.results > section ul > h4 {
	display: none;
	color: #444;
	font: 900 18/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px dotted #ccc;
}
.results > section ul > li {
	margin: 12px 0 0 0;
	padding: 0;
	/*border: 1px solid #ccc;*/
	border-radius: 24px;
	font: 600 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	color: #444;
	white-space: normal;
}
.results > section ul > li > span {
	/*display: block;*/
	font-weight: 200;
	
}
.results > .button {
	position: absolute;
	bottom: -72px;
	right: -3px;
}
/* @end */







/* @group ALTERNATING */
.alternating {
	padding: 0;
}
.alternating > div {
	position: relative;
	margin: 96px 0;
	padding: 96px 0;
}
.alternating > div+div {
	margin-top: 240px;
}


/* Image */
.alternating > div > img {
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	margin: 0 0 0 48px;
}


/* H Group */
.alternating > div > hgroup {
	padding: 0 50% 0 0;
}
.alternating > div > hgroup > h2 {
	margin: 0 0 48px;
	font: 200 52px/1.0865em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.alternating > div > hgroup > p {
	font: 400 18px/1.45em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0 0 36px 0;
	/*float: left;*/
	/*width: 60%;*/
	clear: left;
}
.alternating > div > hgroup > a {
	margin: 12px 0;
}


.alternating > div:nth-of-type(odd) > hgroup {
	padding: 0 0 0 50%;
}
.alternating > div:nth-of-type(odd) > img  {
	left: auto;
	right: 50%;
	margin: 0 48px 0 0;
}
.alternating > div:nth-of-type(odd) > h2 {
	float: right;
}
.alternating > div:nth-of-type(odd) > p {
	float: right;
	clear: right;
}

/* @end */






/* @group Overlay */
.overlay {
	position: fixed;
	z-index: 100000000000;
	width: 100%;
	height: 100%;
	left: 300%;
	top: 0;
	padding: 48px;
	background: rgba(0,0,0,.75);
	text-align: center;
	white-space: nowrap;
}
.overlay.visible {
	left: 0;
}
.overlay > .close-overlay {
	position: absolute;
	top: 12px;
	right: 12px;
	border: 2px solid #fff;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	text-align: center;
	font: 400 24px/42px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
}
.overlay > .close-overlay:hover {
	background: #fff;
	color: #000;
}
.overlay > .close-overlay:active {
	background: #000;
	color: #fff;
}
.overlay > .video-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	vertical-align: middle;
}
.overlay:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	/*background: red;*/
	vertical-align: middle;
}
.overlay > .video-wrapper > iframe {
	/*top: 0;
	left: 0;
	width: 100%;*/
}
/* @end */


















































/* @group .main-footer */
.main-footer {
	/*position: absolute;*/
	width: 100%;
	bottom: 0px;
	left: 0;
	padding: 24px;
	background: #f2f2f2;
	text-align: center;
	overflow: hidden;
}
.main-footer > div {
	max-width: 1080px;
	margin: 0 auto;
}
.main-footer > div > a {
	display: block;
	max-width: 320px;
	margin: 0 auto;
}
.main-footer > div > a > img {
	width: 100%;
	max-width: 200px;
	margin: 24px 0 0 0;
}
.main-footer > div > section {
	display: inline-block;
	margin: 0 -.25em 0 0;
	padding: 36px 0;
	width: 33.33%;
	font: 200 14px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	vertical-align: top;
	text-align: center;
}
.main-footer > div > p {
	font: inherit;
	color: inherit;
	font:200 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	color: #999;
}
/* @end */





/* @group Subscribe */

.newsletter {
	margin: 0 0 48px 0;
	padding: 48px 24px 96px 24px;
	background-color: #e5e5e5;
	text-align: center;
	
	background-image: url('/images/patterns/clouds.png');
	background-attachment: scroll;
	background-repeat: repeat no-repeat;
	background-size: auto;
	background-position: bottom center;
}
.newsletter > h2 {
	font: 400 26px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.newsletter > h2 > span {
	font-weight: 900;
	letter-spacing: 2px;
}
.newsletter > h3 {
	font: 200 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}
.newsletter label {
	display: block;
}
.newsletter input {
	width: 320px;
	padding: 18px 24px;
	border: 3px solid #666;	
	font: 16px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.newsletter input.required.mce_inline_error {
	border-color: #f16!important;
	background: #fff!important;
}
.newsletter .mce_inline_error {
	display: block;
	background: #f16!important;
}
.newsletter .button {
	width: auto;
	padding: 18px 36px;
	background: none;
	border: 3px solid #91d5d3;
	border-radius: 3;
	color: #91d5d3;
	font-size: 16px;
}
.newsletter .button:hover {
	background: #91d5d3;
	color: #fff;
}
.newsletter form div {
	display: inline-block;
	margin: 12px 0;
	vertical-align: top;
}

/* @end */

/* @group Blog Posts */
.blogposts {
	max-width: 1080px;
	margin: 0 auto;
	padding: 48px 0;
	list-style: none;
}
.blogposts > h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.blogposts > li {
	display: inline-block;
	width: 33%;
	padding: 24px;
	border: 2px solid #ccc;
}
.blogposts > li > a {
	text-decoration: none;
}
.blogposts > li > a > h2 {
	font: 100 24px/36px Georgia, "Times New Roman", Times, serif;
}
.blogposts > li > a > p {
	max-height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/* @end */

/* @group Under Construction */

/* @group Under Construction - Banner */

.under-construction {
	height: 100%;
	text-align: center;
	box-shadow: none;
}
.under-construction > hgroup > img {
	width: 100%;
	max-width: 320px;
}
.under-construction > hgroup > h1 {
	letter-spacing: 9px;
	font: 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @end */

@media all and (max-width: 1080px) {
	.content > div > section {
		padding: 24px;
	}
	
	
	
	/* Alternating */
	.alternating {
		padding: 24px;
	}
	.alternating > div {
		padding: 24px 0;
	}
	.alternating > div > hgroup {
		text-align: center;
	}
	
	
	
	.banner {
		padding: 48px;
	}
}






@media all and (max-width: 840px) {
	
	
}
	
	
	
	
	
	
@media all and (max-width: 720px) {
	.banner {
		height: 50%;
		padding: 12px;
		background-attachment: scroll;
		text-align: center;
	}
	.banner > hgroup {
		width: auto;
	}
	.banner > hgroup > h1 {
		font-size: 18px;
	}
	.banner > hgroup > img {
		
	}
	
	
	/* Features */
	.features {
		width: 100%;
		max-width: 960px;
	}
	.features > div {
		float: none;
		width: 100%;
	}
	
	/* Alternating */
	.alternating {
		
	}
	.alternating > div {
		text-align: center;
		padding: 24px;
	}
	.alternating > div+div {
		margin-top: 1px;
	}
	.alternating > div:first-of-type {
		margin-top: 0;
	}
	.content .alternating > div > hgroup {
		padding: 24px 0;
	}
	.alternating > div > hgroup > h2 {
		margin: 0 0 12px 0;
	}
	.alternating > div > hgroup > p {
		margin: 0;
	}
	.alternating > div:first-of-type {
		/*padding-bottom: 24px;*/
	}
	.alternating > div > img {
		position: relative;
		left: auto;
		right: auto!important;
		margin: 0 auto!important;
		
		height: auto;
		width: 50%;
	}
	.alternating > div > hgroup > h2 {
			font-size: 36px;
	}
	.alternating > div > hgroup > p {
		
	}
	
	
	.knowledge > div > h5 {
		font: 500 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	
	
	
	.main-footer > div {
		
	}
	
	.main-footer > div > section {	
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
	
	}
	.content > div > section > section {
		width: 100%;
	}
	.content > div > section > section+section {
		margin: 48px 0 0 0;
		/*padding: 0;*/
	}


}




@media all and (max-width: 540px) {
.product-options > section.padding {
	padding: 24px;
}
.product-options > section > img {
	float: none;
	width: 100%;
	max-width: 150px;
	margin: 48px 0 0 0;
}
.product-options > section > hgroup {
	text-align: center;
}
.product-options > section > form > label {
	float: left;
	width: 24%;
	margin: 0 1% 1% 0;
}
.product-options > section > div {
	text-align: center;
}
.product-options > section > div > input {
	text-align: center;
}
.product-options > section > form > label+label {
	
}
.product-options > section > form > label > p {
	font: 400 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}



.results {
	border: none;
}
.results > section {
	display: block;
	width: 100%;
}

.results > section.fabricses {
	width: 100%;
	margin: 0 auto;
}
.results > section.fabricses > .diagram {
	max-width: 200px;
}
.results > section hgroup {
	text-align: center;
}
.results > section ul {
	float: none;
}
.results > .button {
	position: relative;
	float: none;
	/*display: block;*/
	margin: 0 auto;
	/*background: #f16;*/
}
}





