<footer class="main-footer">
	<div>
		<a href="/"><img src="/images/logos/martha-made-it-logo-dark.png" alt="Kevin Lebaron" class="footer-logo"/></a>
		<section>
			<a href="https://twitter.com/kevaleb" target="_blank"><img src="/images/icons/social/facebook.png" alt="" /></a>
			<a href="https://twitter.com/kevaleb" target="_blank"><img src="/images/icons/social/twitter.png" alt="" /></a>
			<a href="http://instagram.com/kevaleb/" target="_blank"><img src="/images/icons/social/instagram.png" alt="" /></a>
			<a href="https://twitter.com/kevaleb" target="_blank"><img src="/images/icons/social/pintrest.png" alt="" /></a>
		</section>
		<p>© Copyright 2015. Martha Made It. All Rights Reserved.</p>
	</div>
</footer>