---
layout: default
navclass: faq
navtitle: faq
permalink: /faq/
youtube_video_id:
faqs:
  - question: How Do I take My Own measurements?
    answer: This Video Shows You How.
    youtube_video_id: EgeVpBYwiXI
  - question: When Will I Get My Custom Made Item?
    answer: >-
      My turn around time is 2-3 weeks after you have placed your order. Your
      item will ship within that time frame and I ship USPS 3 day priority. If
      you need your items sooner please message me.
    youtube_video_id:
  - question:
    answer:
    youtube_video_id:
  - question: What is the Shop Return Policy?
    answer: >-
      My Return Policy is as follows: All items have a size guarantee. If you
      receive your item and it does not fit I will be happy to take the item
      back and either replace it, mend it to fit, or give you a refund. I do ask
      that all fit issues be reported and returned within 7 days after you have
      received your order. After 10 days you will no longer be able to return
      your item. Because of the Nature of my Business and the type of Custom
      Product I make I do ask that my Customers please follow this returning
      procedure.
    youtube_video_id:
---

<div class="pagetitle">
	<h1 class="editable"></h1>
</div>

<div class="faq">
	<ul>
	{% for faq in page.faqs %}
		<li>
			<h3>{{ faq.question }}</h3>
			<p>{{ faq.answer }}</p>
			{% if faq.youtube_video_id %}
			<div class="videoBlock">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ faq.youtube_video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<img src="/images/other/video_shadow.svg" alt="video shadow" />
			</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>