---
layout: default
title: Pencil Skirt
description: Straight Cut Pencil Skirt
price: 30
permalink: /pencil-skirt/
SkirtFit:
  - Image_Path: /images/skirts/pencil/options/skirt-knee-thin.png
    Name: Fitted
  - Image_Path: /images/skirts/pencil/options/skirt-knee.png
    Name: Regular
SkirtLength:
  - Length: Knee
    Fit: Fitted
    ImagePath: /images/skirts/pencil/options/skirt-knee-fitted.png
  - Length: Knee
    Fit: Regular
    ImagePath: /images/skirts/pencil/options/skirt-knee.png
  - Length: Midi
    Fit: Fitted
    ImagePath: /images/skirts/pencil/options/skirt-midi-fitted.png
  - Length: Midi
    Fit: Regular
    ImagePath: /images/skirts/pencil/options/skirt-midi.png
FabricOptions:
  - Image_Path: /images/skirts/pencil/fabric/033.jpg
    Name: Solid Black
    Description: Solid Black
  - Image_Path: /images/skirts/pencil/fabric/floral.jpg
    Name: 'Coral, Jade Floral Design on White'
    Description: 'Coral, Jade Floral Design on White'
  - Image_Path: /images/skirts/pencil/fabric/img_1872.jpg
    Name: Dark Coral and Pink Roses on Dark Charcoal Grey
    Description: Dark Coral and Pink Roses on Dark Charcoal Grey
  - Image_Path: /images/skirts/pencil/fabric/untitled-2.jpg
    Name: Solid Navy
    Description: Solid Navy
  - Image_Path: /images/skirts/pencil/fabric/untitled-1.jpg
    Name: Solid Bright Yellow
    Description: Solid Bright Yellow
  - Image_Path: /images/skirts/010.jpg
    Name: Multi Floral on Black Background
    Description: Multi Floral on Black Background
  - Image_Path: /images/skirts/063.jpg
    Name: 'Fuchsia, Emerald, Mustard Flowers on White Background'
    Description: 'Fuchsia, Emerald, Mustard Flowers on White Background'
Gallery:
  - Image_Path: /images/skirts/pencil/gallery/001.jpg
  - Image_Path: /images/skirts/pencil/gallery/092.jpg
  - Image_Path: /images/skirts/pencil/gallery/145.jpg
---
<!--<header>
	<div>
		<a href="/">
			<img src="/images/logos/martha-made-it-logo-dark.png" alt="Martha Made It Logo" />
		</a>
	</div>
</header>-->
<div class="main-gallery gallery js-flickity">
	{% for item in page.Gallery %}
		<div class="gallery-cell first-cell" style="background-image: url('');">
			<img src="{{  item.Image_Path  }}" alt="{{  page.title  }}" data-adaptive-backgroun />
			{% if forloop.first %}
			<!--<hgroup>
				<h1 class="product-title">{{  page.title  }}
				<a href="#product-options" class="button editable">Customize It</a>
			-->
			{% endif %}
		</div>
	{% endfor %}
</div>

<div class="product-options" id="product-options">
	<section class="photos">
		<hgroup>
			<h2 class="editable">Fabric Options</h2>
			<p class="editable">All fabrics listed below are limited Quantity, They will not be restocked. These fabrics are heavier weight with a nice stretch. Perfect for form fitting Comfortable Pencil Skirts.</p>
		</hgroup>
		<form method="" action="" id="fabric-options">
			{% for item in page.FabricOptions %}
			<label>
				<a href="{{ item.Image_Path }}" class="strip" data-strip-group="fabric" data-strip-caption="{{ item.Description }}">
					<i class="fa fa-search-plus fa-lg"></i>
				</a>
				<img src="{{ item.Image_Path }}" alt="{{ item.Name }}" />
				<input type="radio" name="fabric-option" value="{{ item.Name }}" />
			</label>
			{% endfor %}
		</form>
	</section>
	
	<!-- Skirt Fit -->
	<section>
		<hgroup>
			<h2 class="editable">Fit</h2>
			<!--<p class="editable"></p>-->
		</hgroup>
		<form name="fit" id="fit">
			{% for item in page.SkirtFit %}
			<label class="{{ item.Name }}">
				<p>{{ item.Name }}</p>
				<img src="{{ item.Image_Path }}" alt="{{ item.Name }}" />
				<input type="radio" name="fit" value="{{ item.Name }}" />
			</label>
			{% endfor %}
		</form>
	</section>
	
	<!-- Skirt Length -->
	<section>
		<hgroup>
			<h2 class="editable">Skirt Length</h2>
			<p class="editable">Below are your skirt options: Knee Length, Hits just below the Knee. Midi Length hits Mid Calf.</p>
		</hgroup>
		<form name="skirt" id="skirt" class="fitted">
			{% for item in page.SkirtLength %}
			<label class="{{  item.Fit  }}" data-image-url="{{ item.ImagePath }}">
				<p>{{ item.Length }}</p>
				<img src="{{ item.ImagePath }}" alt="{{ item.Length }}" />
				<input type="radio" name="skirt" value="{{ item.Length }}" />
			</label>
			{% endfor %}
		</form>
	</section>
	
	{% include skirts/pencil/options/waist.html %}
	
	{% include skirts/pencil/sizes/waist.html %}
	{% include skirts/pencil/sizes/hips.html %}
	{% include dresses/boundless/sizes/height.html %}
	
	

<div class="results">
	<section class="fabricses">
		<div class="diagram">
			<img src="/images/skirts/pencil/options/skirt-midi.png" alt="skirt" id="skirt-diagram" />
		</div>
	</section>
	<section>
		<hgroup>
			<h2>{{ page.title }}</h2>
			<h3 id="price" class="price">{{  page.price  }}</h3>
		</hgroup>
		<ul>
			<h4>Options</h4>
			<li id="fabric-choice">Fabric: <span></span></li>
			<li id="waist-choice">Waist: <span></span></li>
			<li id="skirt-choice">Skirt: <span></span></li>	
			<li id="fit-choice">Fit: <span></span></li>			
		</ul>
		<ul>
			<h4>Measurements</h4>
			<li id="waist-measurement">Waist: <span></span></li>
			<li id="hip-measurement">Hips: <span></span></li>
			<li id="height-measurement">Height: <span></span></li>
		</ul>
	</section>
	<a href="#" class="snipcart-add-item button dark" data-item-id="1" data-item-name="{{page.title}}" data-item-price="{{ page.price }}" data-item-weight="1" data-item-url="{{page.permalink}}" data-item-description="{{page.description}}" data-item-custom1-name="Fabric" data-item-custom1-value="" data-item-custom1-required="True" data-item-custom2-name="Waist Style" data-item-custom2-value="" data-item-custom2-required="True" data-item-custom3-name="Skirt Length" data-item-custom3-value="" data-item-custom3-required="True" data-item-custom4-name="Waist Size" data-item-custom4-value="" data-item-custom4-required="True" data-item-custom5-name="Hip Size" data-item-custom5-value="" data-item-custom5-required="True" data-item-custom6-name="Height" data-item-custom6-value="" data-item-custom6-required="True" data-item-custom7-name="Fit" data-item-custom7-value="" data-item-custom7-required="True">Add To Cart</a>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	  $.adaptiveBackground.run()
	});
	
	
	//////////////////////
	//  Fabric Choice  //
	////////////////////
	$( "#fabric-options > label" ).click(function() {	
		$('#fabric-options > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var fabricChoice = $('#fabric-options input[name=fabric-option]:checked').val();
		var fabricChoiceURL = $('#fabric-options > label.selected > a').attr('href');
		
		$('#fabric-choice > span').html(fabricChoice);
//		$('#fabric-choice-url > span').html(fabricChoiceURL);
		$('.fabricses').css('background-image', 'url(' + fabricChoiceURL + ')');
		
		$('.snipcart-add-item').data('item-custom1-value',fabricChoice);
	});
	
	
	
	
	////////////////
	//  Options  //
	//////////////
	
	// Fit
	$( "#fit > label" ).click(function() {	
		$('#fit > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var fitChoice = $('#fit input[name=fit]:checked').val();
		
		$('#fit-choice > span').html(fitChoice);
		$('.snipcart-add-item').data('item-custom7-value',fitChoice);
	});
	
	$( "#fit > label.fitted" ).click(function() {	
		$('#skirt.regular').addClass('fitted');
		$('#skirt.regular').removeClass('regular');
	});
	
	$( "#fit > label.regular" ).click(function() {	
		$('#skirt.fitted').addClass('regular');
		$('#skirt.fitted').removeClass('fitted');
	});
	
	
	
	// Skirt
	$( "#skirt > label" ).click(function() {	
		$('#skirt > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var skirtChoice = $('#skirt input[name=skirt]:checked').val();
		
		$('#skirt-choice > span').html(skirtChoice);
		$('.snipcart-add-item').data('item-custom3-value',skirtChoice);
		
		var skirtImage = $('#skirt > label.selected').data('image-url');
		$("#skirt-diagram").attr("src",skirtImage);
	});
	
	
	
	
	
	// Waist
	$( "#waist-type > label" ).click(function() {	
		$('#waist-type > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var waistChoice = $('#waist-type input[name=waist-type]:checked').val();
		
		$('#waist-choice > span').html(waistChoice);
		$('.snipcart-add-item').data('item-custom2-value',waistChoice);
	});
	
	
	
//	$( "#waist-type > label.elastic" ).click(function() {	
//		$('#skirt.yoga').addClass('elastic');
//		$('#skirt.yoga').removeClass('yoga');
//	});
//	
//	$( "#waist-type > label.yoga" ).click(function() {	
//		$('#skirt.elastic').addClass('yoga');
//		$('#skirt.elastic').removeClass('elastic');
//	});
	
	
	
	
	
	//////////////
	//  Sizes  //
	////////////
	
	// Waist
	$( "#waist > label" ).click(function() {	
		$('#waist > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var waistSize = $('#waist input[name=waist]:checked').val();
		
		$('#waist-measurement > span').html(waistSize);
		$('.snipcart-add-item').data('item-custom4-value',waistSize);
	});
	
	// Hips
	$( "#hips > label" ).click(function() {	
		$('#hips > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var hipSize = $('#hips input[name=hips]:checked').val();
		
		$('#hip-measurement > span').html(hipSize);
		$('.snipcart-add-item').data('item-custom5-value',hipSize);
	});
	
	// Height
	$( "input#height").change(function() {
	  var height = $('input#height').val();
	  
	  $('#height-measurement > span').html(height);
	  $('.snipcart-add-item').data('item-custom6-value',height);
	});
	
	
	
	
	
	
	
	
	$('.main-gallery').flickity({
	  // options
	  cellAlign: 'left',
	  wrapAround: true,
	  lazyLoad: 1,
	  contain: true
	});
</script>


