---
layout: default
---

<div class="product_titles">
	<hgroup>
		<h1>{{ page.title }}</h1>
		<h2>{% unless page.sale_price_number == nil %}<i>${{ page.price_number }}</i>${{ page.sale_price_number }} {% else %} ${{ page.price_number }} {% endunless %}</h2>
	</hgroup>
</div>

<div class="product_photos">
	<ul>
		{% for photo in page.photos %}
		<li>
			<a href="{{ photo.photo_path }}" class="strip" data-strip-group="product_photos" data-strip-caption="{{ photo.description }}">
				<img src="{{ photo.photo_path }}" alt="" />
			</a>
		</li>
		{% endfor %}
	</ul>
</div>


<form class="product_form">
	<div id="product_fabrics">
		<h3>Choose Your Fabric</h3>
		{% for fabric in site.fabrics  %}
		{% assign product_type_string = fabric.product_types %}
		
		{% if product_type_string contains page.product_type %}
		{% if forloop.first %}
		{% capture FirstFabric %}{{ fabric.title }}{% endcapture %}
		<label title="{{ fabric.title }}">
			<a href="{{ fabric.photo_path }}" class="strip" data-strip-group="product_fabrics" data-strip-caption="{{ fabric.title }} ::: {{ fabric.description }}" style="background-image: url('{{ fabric.photo_path }}');"></a>
			<input type="radio" name="fabric_choice" value="{{ fabric.title }}" checked="checked"/>
			 <span>{{ fabric.title }}</span>
		</label>
		{% else %}
		<label title="{{ fabric.title }}">
			<a href="{{ fabric.photo_path }}" class="strip" data-strip-group="product_fabrics" data-strip-caption="{{ fabric.description }}" style="background-image: url('{{ fabric.photo_path }}');"></a>
			<input type="radio" name="fabric_choice" value="{{ fabric.title }}" />
			 <span>{{ fabric.title }}</span>
		</label>
		{% endif %}
		{% endif %}
		{% endfor %}
		
		<div class="actions">
			<span class="button dark full next">Next</span>
		</div>
	</div>
	
	
	<div id="product_options">
	{% assign optioncount = 1 %}
	{% for option in page.options %}
		{% assign optioncount = optioncount | plus: 1 %}
		<h3>{{ option.option_title }}</h3>
		{% unless option.option_description == nil %}
		<h4>{{ option.option_description }}</h4>
		{% endunless %}
		{% for choice in option.choices %}
		
		{% if forloop.first %}
		<label>
			<input type="radio" name="{{ option.option_title }}" value="{{ choice.choice }}" class="option{{ optioncount }}" checked="checked"/>
			<span>{{ choice.choice }}</span>
		</label>
		{% else %}
		<label>
			<input type="radio" name="{{ option.option_title }}" value="{{ choice.choice }}" class="option{{ optioncount }}" />
			<span>{{ choice.choice }}</span>
		</label>
		{% endif %}
		{% endfor %}
	{% endfor %}
		<div class="actions">
			<span class="button dark back">Back</span>
			<span class="button dark full next">Next</span>
		</div>
	</div>
	
	
	<div id="product_measurements">
		{% assign measurementcount = optioncount %}
		{% for measurement in page.measurements %}
		{% assign measurementcount = measurementcount | plus: 1 %}	
		<h3>{{ measurement.measurement_title }}</h3>
		<h4>{{ measurement.measurement_description }}</h4>
		<label>
			<input type="text" name="{{ measurement.title }}" value="0"  class="measurement{{ measurementcount }}"/>
		</label>
		<br />
		{% endfor %}
		
		<div class="actions">
			<span class="button dark back">Back</span>
			<a class="snipcart-add-item add-product button dark full next" id="snipcart-add-item" 
				data-item-id="{{ page.id }}" 
				data-item-name="{{ page.title }}" 
				data-item-price="{% unless page.sale_price_number == nil %}${{ page.sale_price_number }}{% else %} {{ page.price_number }}{% endunless %}" 
				data-item-weight="1" 
				data-item-url="www.marthamadeit.com/products{{ page.url }}"
				data-item-description="{{ page.description }}" 
				
				data-item-custom1-name="fabric"
				data-item-custom1-value="{{ FirstFabric }}"
				
				{% assign count = 1 %}
				{% for option in page.options %}
					{% assign count = count | plus: 1 %}
					data-item-custom{{ count }}-name="{{ option.option_title }}" 
					data-item-custom{{ count }}-options="{% for choice in option.choices %}{{ choice.choice | escape }}{% if forloop.last == true %}{% else %}|{% endif %}{% endfor %}"
				{% endfor%}
				
				{% for measurement in page.measurements %}
					{% assign count = count | plus: 1 %}
					data-item-custom{{ count }}-name="{{ measurement.measurement_title }}" 
					data-item-custom{{ count }}-value="123"
				{% endfor%}
				
			>Add To Cart</a>
		</div>
	</div>
	
	
	<!--<div id="product_sizes">
		
		<h3>Bust</h3>
		{% for item in site.data.bust %}
		{% if forloop.first %}
		{% capture FirstBust %}{{ item.inches }}{% endcapture %}
		<label>
			<input type="radio" name="bust" value="{{ item.inches }}" class="bust" checked="checked"/>
			<span>{{ item.inches }}</span>
		</label>
		{% else %}
		<label>
			<input type="radio" name="bust" value="{{ item.inches }}" class="bust"/>
			<span>{{ item.inches }}"</span>
		</label>
		{% endif %}
		{% endfor %}
		
		
		<h3>Under Bust</h3>
		{% for item in site.data.under-bust %}
		{% if forloop.first %}
		{% capture FirstUnderBust %}{{ item.inches }}{% endcapture %}
		<label>
			<input type="radio" name="under-bust" value="{{ item.inches }}" class="underbust" checked="checked"/>
			<span>{{ item.inches }}</span>
		</label>
		{% else %}
		<label>
			<input type="radio" name="under-bust" value="{{ item.inches }}" class="underbust" />
			<span>{{ item.inches }}"</span>
		</label>
		{% endif %}
		{% endfor %}
		
		
		<h3>Height</h3>
		{% for item in site.data.height %}
		{% if forloop.first %}
		{% capture FirstHeight %}{{ item.inches }}{% endcapture %}
		<label>
			<input type="radio" name="height" value="{{ item.inches }}" class="height" checked="checked"/>
			<span>{{ item.inches }}</span>
		</label>
		{% else %}
		<label>
			<input type="radio" name="height" value="{{ item.inches }}" class="height" />
			<span>{{ item.inches }}"</span>
		</label>
		{% endif %}
		{% endfor %}
		
		
		
		<h3>Hips</h3>
		{% for item in site.data.hips %}
		{% if forloop.first %}
		{% capture FirstHips %}{{ item.inches }}{% endcapture %}
		<label>
			<input type="radio" name="hips" value="{{ item.inches }}" class="hips" checked="checked"/>
			<span>{{ item.inches }}</span>
		</label>
		{% else %}
		<label>
			<input type="radio" name="hips" value="{{ item.inches }}" class="hips" />
			<span>{{ item.inches }}"</span>
		</label>
		{% endif %}
		{% endfor %}
		
		
		
		<h3>Waist</h3>
		{% for item in site.data.waist %}
		{% if forloop.first %}
		{% capture FirstWaist %}{{ item.inches }}{% endcapture %}
		<label>
			<input type="radio" name="waist" value="{{ item.inches }}" class="waist" checked="checked"/>
			<span>{{ item.inches }}</span>
		</label>
		{% else %}
		<label>
			<input type="radio" name="waist" value="{{ item.inches }}" class="waist" />
			<span>{{ item.inches }}"</span>
		</label>
		{% endif %}
		{% endfor %}
		
		<span class="button">Back</span>
	</div>-->
	
	
</form>





<article>
	{{ content }}
</article>




<script type="text/javascript">
		
	// Fabric Option
		$( ".product_form > #product_fabrics > label > input" ).change(function() {
			var LastFabricValue= $(this).val();
			$('.snipcart-add-item').attr('data-item-custom1-value',LastFabricValue);
		});
	
	
	
	// Product Options
	{% assign optioncountjs = 1 %}		
	{% for option in page.options %}
		{% assign optioncountjs = optioncountjs | plus: 1 %}
		
		$( ".product_form > div > label > input.option{{ optioncountjs }}" ).change(function() {
			var LastInputName= $(this).attr("name");
			var LastInputValue= $(this).val();
			$('.snipcart-add-item').attr('data-item-custom{{ optioncountjs }}-value',LastInputValue);
//			alert( LastInputValue );
		});
	{% endfor %}
	
	
	// Sizes
	{% assign measurementcount = optioncountjs %}
	{% for measurement in page.measurements %}
		{% assign measurementcount = measurementcount | plus: 1 %}
		$( ".product_form > #product_measurements > label > input.measurement{{ measurementcount }}" ).change(function() {
			var LastMeasurementValue= $(this).val();
			$('.snipcart-add-item').attr('data-item-custom{{ measurementcount }}-value',LastMeasurementValue);
		});
	{% endfor %}
	
	
	
	// Actions
	$( ".product_form > #product_fabrics > .actions > .next" ).click(function() {	
		$('.product_form').addClass('stage2');
	});
	
	
	$( ".product_form > #product_options > .actions > .next" ).click(function() {	
		$('.product_form').removeClass('stage2');
		$('.product_form').addClass('stage3');
	});
	$( ".product_form > #product_options > .actions > .back" ).click(function() {	
		$('.product_form').removeClass('stage2');
	});
	
	
	$( ".product_form > #product_measurements > .actions > .back" ).click(function() {	
		$('.product_form').removeClass('stage3');
		$('.product_form').addClass('stage2');
	});
</script>




<!--<script type="text/javascript">
	// Fabric
	$( "#fabric-options > label" ).click(function() {	
		$('#fabric-options > label.selected').removeClass('selected');
		$(this).addClass('selected');
		
		var fabricChoice = $('#fabric-options input[name=fabric-option]:checked').val();
		
		$('.snipcart-add-item').data('item-custom6-value',fabricChoice);
	});
	
	// Option 1
	$( "#firstoption").change(function() {
		var firstoption = $('#firstoption').val();
		$('.snipcart-add-item').data('item-custom1-value',firstoption);
	});
	
	// Option 2
	$( "#secondoption").change(function() {
		var secondoption = $('#secondoption').val();
		$('.snipcart-add-item').data('item-custom2-value',secondoption);
	});
	
	// Option 3
	$( "#thirdoption").change(function() {
		var thirdoption = $('#thirdoption').val();
		$('.snipcart-add-item').data('item-custom3-value',thirdoption);
	});
	
	// Option 4
	$( "#fourthoption").change(function() {
		var fourthoption = $('#fourthoption').val();
		$('.snipcart-add-item').data('item-custom4-value',fourthoption);
	});
	
	// Option 5
	$( "#fifthoption").change(function() {
		var fifthoption = $('#fifthoption').val();
		$('.snipcart-add-item').data('item-custom5-value',fifthoption);
	});
</script>-->
